type app_efs_file, file_type;
type ATFWD-daemon_exec, exec_type, file_type;
type audiod_exec, exec_type, file_type;
type carrier_file, file_type;
type cnd_exec, exec_type, file_type;
type drm_efs_file, file_type;
type efsks_exec, exec_type, file_type;
type geomagneticd_exec, exec_type, file_type;
type gpsone_daemon_exec, exec_type, file_type;
type hdmi_socket, file_type;
type hidden_file, file_type;
type ks_exec, exec_type, file_type;
type location-mq_exec, exec_type, file_type;
type lowi-server_exec, exec_type, file_type;
type mm-pp-daemon_exec, exec_type, file_type;
type mm-qcamera-daemon_exec, exec_type, file_type;
type mobicoredaemon_exec, exec_type, file_type;
type mpctl_socket, file_type;
type mpdecision_exec, exec_type, file_type;
type mpdecision_socket, file_type;
type obb_apk_file, file_type;
type persdata_data_file, file_type;
type persist_data_file, file_type;
type playready_exec, exec_type, file_type;
type pps_socket, file_type;
type qcks_exec, exec_type, file_type;
type qmux_audio_socket, file_type;
type qmux_bluetooth_socket, file_type;
type qmuxd_exec, exec_type, file_type;
type qmux_gps_socket, file_type;
type qmux_radio_socket, file_type;
type qosmgr_exec, exec_type, file_type;
type qrngd_exec, exec_type, file_type;
type qseecomd_exec, exec_type, file_type;
type quipc_igsn_exec, exec_type, file_type;
type quipc_main_exec, exec_type, file_type;
type radio_socket, file_type;
type rmt_storage_exec, exec_type, file_type;
type secstarter_exec, exec_type, file_type;
type smdexe_exec, exec_type, file_type;
type ssr_diag_exec, exec_type, file_type;
type thermald_exec, exec_type, file_type;
type time_daemon_exec, exec_type, file_type;
type time_data_file, file_type;
type tombstones_data_file, file_type;
type wiperiface_exec, exec_type, file_type;
